<p>You have added a new student!</p>

<p>First Name: <%= @student.first_name %></p>
<p>Last Name: <%= @student.last_name %></p>
<% house = House.find_by_id(@student.house_id) %>
<p>House: <%= house.name %></p>
<p>Age: <%= @student.age %></p>