<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="/students">List all students</a>
      </li>
      <li>
        <a href="/students/new">Add new student</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>