<form method="POST" action="/students">

  <div class="form-row">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" id="first_name"/>
  </div>

  <div class="form-row">
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" id="last_name"/>
  </div>

  <div class="form-row">
    <label for="house_id">House:</label>
    <select id="house_id" name="house_id">
      <% houses = House.all %>
      <% houses.each do |house| %>
        <option value = "<%= house.id %>"><%=house.name%></option>
      <% end %>
    </select>
  </div>

  <div class="form-row">
    <label for="age">Age:</label>
    <input  min="1" type="number" name="age" id="age"/>
  </div>

  <input type="submit" name="Submit Student"/>

</form>